<%- include ('header.ejs') %>

<div class="row">
    <div class="col s12 m6">
      <div class="card teal lighten-2">
        <div class="card-content white-text">
          <span class="card-title">El codigo fue validado correctamente</span>
          <p>El bono fue redimido por <%= establec %> </p>
        </div>
        <div class="card-action white-text">          
          <a href="http://app.remicos.com.co:84" class="hoverable btn">aceptar</a>
        </div>
      </div>
    </div>
  </div>



  <%- include ('footer.ejs') %>
