.card .card-content {    
    text-align: center;
}

.img-caprichos{
    
    margin-left: 2rem;
    align-items: center;
}

.img-remicos{
    
    margin-left: 2rem;
    align-items: center;
}

nav {
    
    height: 80px!important;
    line-height: 80px!important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #dfcaaf!important;   
}