<div>
  <app-titulo-cliente></app-titulo-cliente>
  <app-cliente class ="bg-success text-white" [tarjeta]=5 nombre='Luis Fernando Prieto' telefono=3175027179 tiempo=15></app-cliente>
  <app-cliente class ="bg-success text-white" [tarjeta]=6 nombre='Juan Lucas Prieto Rugeles' telefono=3115761651 tiempo=15></app-cliente>
  <app-cliente class ="bg-success text-white" [tarjeta]=7 nombre='Emma Prieto Rugeles' telefono=3115761651 tiempo=15></app-cliente>
  <app-cliente class ="bg-success text-white" [tarjeta]=8 nombre='Diana Mireya Rugeles Albarracin' telefono=3115761651 tiempo=15></app-cliente>
</div>

<a type="button" [routerLink]="[{outlets: {popupform: ['newclient']}}]" [routerLinkActive]="'active'"
  class="btn btn-danger btn-circle" role="button" aria-pressed="true"><i class="fa fa-plus"></i></a>
