.card-table+.card-body,.table-responsive+.card-body{border-top:1px solid #dee2e6}
.card-container.text-white.bg-success.mb-3{max-width: 100%;}


.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.container-clientes {
  background: rgb(170 226 174);
  box-sizing: border-box;
  border: solid #053815 2px;
  width: 80%;
  margin: 20px 20px 20px 20px;
  padding-bottom: 20px;
  justify-content: center;

}

.btn-circle {
  position: absolute;
  top: 80px;
  right: 10px;
}

.fa-plus:before {  
  color: white;
}


@media screen and (max-width: 1992px){
  .btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    line-height: 0;
  }
  .btn-circle {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 900px){
  .btn-circle.btn-xl {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 12px;

  }
  .btn-circle {
    width: 40px;
    height: 40px;
    font-size: 19px;
    border-radius: 100%;
    text-align: center;
  }
}


@media screen and (max-width: 600px){
  .btn-circle.btn-xl {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 10px;
    line-height: 0;
  }
  .btn-circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 12px;
    text-align: center;
  }
}


