<div class="container">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <ng-container *ngIf=!enviado>
        <div>
          <form action="">
            <div class="form-group mt-2">
              <label for="nombre">Nombre: </label>
              <input type="text" name="nombre" id="nombre">
              <label for="telefono">telefono: </label>
              <input type="tel" name="telefono" id="telefono">
            </div>
            <div class="form-group mt-2">
              <button type="submit" class="btn btn-secondary p-4" (click)="enviado=true">15 min.</button>
              <button type="submit" class="btn btn-secondary p-4" (click)="enviado=true">30 min.</button>
              <button type="submit" class="btn btn-secondary p-4" (click)="enviado=true">1 hora</button>              
            </div>


            <div class="form-group mb-2">
              <button type="submit" class="btn btn-danger p-2" (click)="enviado=true">Agregar</button>
            <button type="submit" class="btn btn-default" (click)="cerrar()">Cancelar</button>
            </div>
          </form>
        </div>
      </ng-container>
    </div>
  </div>
</div>