<div class="container">

  <div class="success">
    <div class="row align-items-center">
      <div class="col-2">
        {{tarjeta}}
      </div>
      <div class="col-4">
        {{nombre}}
      </div>
      <div class="col-2">
        {{telefono}}
      </div>
      <div class="col-2">
        {{tiempo}}
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-info">
          <i class="fa fa-hourglass-end"></i> Fin
        </button>
      </div>
  <hr>

    </div>
  </div>
</div>
